---
http_interactions:
- request:
    method: get
    uri: http://tvtid-backend.tv2.dk/tvtid-app-backend/channels/1/programs/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":404,"code":40400,"message":"Channel 1 program 1 not found","developerMessage":"Requested
        resource does not exist - see /application.wadl","link":"https://jersey.java.net/apidocs/2.8/jersey/javax/ws/rs/NotFoundException.html"}'
  recorded_at: Mon, 18 Sep 2017 21:43:11 GMT
recorded_with: VCR 3.0.3
